SDK/lib/*
build-WarehouseControlSystem-Desktop_Qt_5_7_1_GCC_64bit-Debug/*
build-WarehouseControlSystem*/*
*.user
build-MysqlBaseLib-Desktop_Qt_5_7_1_GCC_64bit-Debug/*
build-MysqlBaseLib*/*
log/*
*.ini
